body {
  font-family: "Roboto", sans-serif;
  padding: 0px 10px 0px 10px;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  padding-left: 15px;
  font-weight: lighter;
  width: 80%;
}

h2 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

p {
  font-size: 15px;
}

.logo_head {
  width: 200px;
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 10px;
}

.flèche a i {
  display: block;
  float: left;
  color: black;
  position: relative;
  margin-top: 15px;
  font-size: 20px;
  left: 5%;
}

.flèche a i:hover {
  color: black;
}

.img_header {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding: 0;
  z-index: 0;
  margin-left: -18px;
}

.wrap_titre {
  padding: 10px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.185);
}

.titre_page_menu {
  text-align: center;
}

.a_la_française {
  border-radius: 30px 30px 0px 0px;
  margin-top: -50px;
  position: relative;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  margin-left: -18px;
  padding-top: 30px;
  width: 100vw;
  margin-bottom: 30px;
}

.bouton_explorer {
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 15px 40px 15px 40px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.253);
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 17px;
  cursor: initial;
  font-weight: bold;
}

.bouton_explorer:focus {
  background: linear-gradient(#ff91e0, #9460d3);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.445);
}

.titre_plats {
  position: relative;
  margin-left: 8%;
  z-index: 30;
}

.ligne_box_menu {
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 8%;
}

.box_menu {
  padding: 0px 0px 0px 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.192);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: flex;
  height: fit-content;
}

.box_menu .check {
  position: relative;
  color: white;
  background-color: #99e2d0;
  padding: 10px;
  display: block;
  padding: 30px 0px;
  text-align: center;
  width: 0%;
  float: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  border-radius: 0px 20px 20px 0px;
  opacity: 0;
  animation: 0.5s ease-out checkout;
}

@keyframes checkout {
  0% {
    width: 20%;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 0%;
    opacity: 0;
  }
}

.prix {
  float: right;
  margin-top: 50px;
  margin-left: -20px;
  font-weight: bold;
  padding-right: 20px;
}

@keyframes prix_out {
  0% {
    margin-left: -50px;
  }

  100% {
    margin-left: -20px;
  }
}

.box_menu:hover .prix p {
  animation: 0.5s ease-in reverse both prix;
}

@keyframes prix {
  0% {
    margin-left: -50px;
  }

  100% {
    margin-left: 0px;
  }
}

.texte_menu {
  width: 100%;
}

.box_menu:hover .texte_menu p {
  overflow: hidden;
  white-space: nowrap;
  animation: 0.5s ease-in both width;
  text-overflow: ellipsis;
}

@keyframes width {
  0% {
    width: 100%;
  }

  20% {
    width: 75%;
    text-overflow: ellipsis;
  }

  100% {
    width: 70%;
    text-overflow: ellipsis;
  }
}

.check i {
  font-size: 20px;
  transition: transform 1s;
}

.box_menu:hover {
  transition: all 1s ease-out;
}

.box_menu:hover .check {
  opacity: 1;
  animation: 0.5s ease-in reverse both check;
}

@keyframes check {
  0% {
    width: 20%;
  }

  100% {
    width: 0%;
  }
}

.check i {
  vertical-align: center;
}

.box_menu:hover .check i {
  animation: 0.5s alternate rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrap_entier {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: auto;
  margin-right: auto;
}

.wrap_entrées {
  position: relative;
  animation: 1.5s ease-in 0s reverse both slidein;
  z-index: 100;
}

.wrap_plats {
  position: relative;
  animation: 2s ease-in 0s reverse both slidein;
  z-index: 100;
}

.wrap_desserts {
  position: relative;
  animation: 2.5s ease-in 0s reverse both slidein;
  z-index: 100;
}

@keyframes slidein {
  0% {
    transform: translatey(0px);
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translatey(20px);
    opacity: 0;
  }
}

.box_menu h2 {
  font-weight: bold;
  text-transform: none;
}

.box_menu p {
  width: 80%;
  margin-top: 0;
  height: fit-content;
}

.ligne_box_menu {
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.logo_hearth {
  float: right;
  text-align: center;
  margin-top: -45px;
  font-size: 25px;
  color: white;
  position: relative;
  z-index: 101;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  right: 20%;
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.logo_hearth :hover {
  color: #9356dc;
  background: linear-gradient(#9356dc, #ff79da);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: earth 0.2s linear;
}

.box_restaurants i:hover {
  color: #9356dc;
  background: linear-gradient(#9356dc, #ff79da);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: earth 0.2s linear;
}

@keyframes earth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: #353535;
  padding: 10px 0px 10px 20px;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  color: white;
  margin-left: -18px;
}

.logo_footer {
  width: 100px;
  padding-top: 10px;
  padding-left: 10px;
}

.footer_couverts ul li {
  display: inline-block;
  font-size: 20px;
  margin-top: -10px;
}

.footer_couverts ul li i {
  margin-left: -30px;
  font-size: 15px;
}

.footer_handshake {
  margin-top: -30px;
  font-size: 15px;
}

.footer_handshake ul li {
  display: inline-block;
}

.footer_handshake ul li i {
  margin-left: -30px;
  font-size: 15px;
}

.footer_contact ul {
  list-style: none;
  margin-top: -15px;
  margin-left: -30px;
}

.footer_contact ul a {
  color: white;
  text-decoration: none;
}

.footer_contact ul a:hover {
  color: #9356dc;
  text-decoration: none;
}

@media only screen and (min-width: 1280px) {
  .entrée {
    display: flex;
    flex-direction: row;
  }

  .plats {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1280px) {
  .logo_head {
    width: 200px;
    padding: 20px;
  }

  .flèche {
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 5%;
  }

  .img_header {
    width: 100vw;
    height: 250px;
    padding: 0;
    z-index: 0;
    margin-left: -18px;
    object-fit: cover;
  }

  .wrap_titre {
    width: 40%;
  }

  .logo_hearth {
    position: relative;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 17px;
  }

  p {
    font-size: 15px;
  }

  .logo_hearth {
    right: 5%;
  }

  .wrap_entier {
    display: block;
  }

  .titre_plats {
    position: relative;
    margin-left: 9%;
  }

  .ligne_box_menu {
    margin-left: 9%;
    width: 50px;
  }

  .prix {
    position: relative;
    top: 45px;
    left: -20px;
    float: right;
    margin-top: 0px;
    font-weight: bold;
    padding-right: 20px;
  }

  .box_menu {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
  }

  @keyframes prix {
    0% {
      margin-left: -50px;
    }

    100% {
      margin-left: 0px;
    }
  }
  .box_menu p {
    font-size: 15px;
  }

  .bouton_explorer {
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Roboto", sans-serif;
    padding: 0px 10px 0px 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .ligne_box_menu {
    margin-left: inherit;
  }

  p {
    font-size: 13px;
  }

  .titre_page_menu {
    position: relative;
    left: 0px;
    text-align: inherit;
  }

  .wrap_titre {
    width: 90%;
    box-shadow: inherit;
  }

  .logo_head {
    width: 150px;
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
  }

  .flèche a i {
    display: block;
    float: left;
    color: black;
    position: absolute;
    margin-top: 0px;
    font-size: 15px;
  }

  .flèche a i:hover {
    color: black;
  }

  .img_header {
    width: 100vw;
    height: 200px;
    object-fit: cover;
    padding: 0;
    z-index: 0;
    margin-left: -18px;
    object-position: bottom;
  }

  .a_la_française {
    border-radius: 30px 30px 0px 0px;
    margin-top: -50px;
    position: relative;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    margin-left: -18px;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 100vw;
    margin-bottom: -20px;
    text-align: inherit;
  }

  .titre_plats {
    position: relative;
    margin-left: 0;
    z-index: 30;
  }

  .bouton_explorer {
    color: white;
    background: linear-gradient(#ff79da, #9356dc);
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.185);
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 15px;
  }

  .logo_chiffre {
    color: white;
    padding: 5px 10px 5px 10px;
    background-color: #9356dc;
    border-radius: 20px;
    font-weight: normal;
    margin-top: -5px;
  }

  .check {
    position: relative;
    color: white;
    background-color: #99e2d0;
    padding: 10px;
    display: block;
    padding: 29px 0;
    top: 0px;
    text-align: center;
    width: 10%;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    border-radius: 0px 20px 20px 0px;
    left: 0px;
    opacity: 0;
    display: none;
    animation: 0.5s checkout;
  }

  @keyframes checkout {
    0% {
      width: 20%;
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      width: 0%;
      opacity: 0;
    }
  }

  .box_menu {
    padding: 0px 0px 0px 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.192);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 0px;
  }

  .box_menu:hover .prix p {
    animation: 0.5s ease-in reverse both prix;
  }

  @keyframes prix {
    0% {
      margin-left: -30px;
    }

    100% {
      margin-left: 0px;
    }
  }

  .prix {
    float: right;
    margin-top: -px;
    margin-left: -20px;
    font-weight: bold;
    padding-right: 0px;
  }

  .box_menu h2 {
    font-weight: bold;
    text-transform: none;
  }

  .box_menu p {
    width: 80%;
    margin-top: 0;
  }

  .ligne_box_menu {
    border-bottom: 2px solid #99e2d0;
    width: 40px;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .box_fonctionnement ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: -80px;
  }

  .box_fonctionnement ul li {
    margin-left: 20px;
    font-weight: bold;
  }

  .box_fonctionnement ul li i {
    color: #686565;
  }

  .logo_hearth {
    float: right;
    margin-top: -40px;
    font-size: 25px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    left: inherit;
    right: 5%;
  }

  .logo_hearth :hover {
    color: #9356dc;
    background: linear-gradient(#9356dc, #ff79da);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: earth 0.2s linear;
  }

  @keyframes earth {
    from {
      transform: translatex(-5px);
      color: white;
      opacity: 0;
      font-size: 10px;
    }
    to {
      transform: translatex(0px);
      opacity: 1;
      font-size: 25px;
    }
  }

  footer {
    background-color: #353535;
    padding: 10px 20px;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
    color: white;
    margin-left: -18px;
    text-align: inherit;
  }

  .logo_footer {
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .footer_couverts ul li {
    display: inline-block;
    margin-top: -10px;
  }

  .footer_couverts ul li i {
    margin-left: -30px;
  }

  .footer_handshake {
    margin-top: -30px;
  }

  .footer_handshake ul li {
    display: inline-block;
  }

  .footer_handshake ul li i {
    margin-left: -30px;
  }

  .footer_contact ul {
    list-style: none;
    margin-top: -15px;
    margin-left: -30px;
  }

  .footer_contact ul a {
    color: white;
    text-decoration: none;
    font-size: 13px;
  }

  .footer_contact ul a:hover {
    color: #9356dc;
    text-decoration: none;
  }
}
